.app-content {
    margin: 0 auto;
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #a7c7e7, #b4e0d6);
    height: 80vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}